/** @format */

@import url('https://fonts.googleapis.com/css2?family=Monda&display=swap');
@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');

* {
  font-family: 'Monda', sans-serif;
  box-sizing: border-box;
}
body {
  background: url('/images/site/checkerboard.jpg');
}
.container {
  background: #fff;
  border: 5px solid #4c96d7;
  border-radius: 5px;
  width: 100%;
}

#top-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#top-header a {
  text-decoration: none;
  color: #000;
  margin: auto 30px;
}

header,
nav,
main,
footer {
  margin: 0;
  padding: 0;
}

nav {
  width: 100%;
  background: #3a3a3a;
  box-shadow: 0px 5px 0px #dedede;
  font-size: 12px;
  display: flex;
  flex-direction: row;
}

nav ul {
  list-style: none;
  width: 100%;
}
nav ul li {
  display: inline-block;
}

nav ul li a {
  display: block;
  padding: 5px;
  text-decoration: none;
  color: #fff;
  font-weight: 800;
  /* margin: 0 10px; */
}
/* nav ul li a,
nav ul li a:after,
nav ul li a:before {
  transition: all 0.5s;
} */
nav ul li a:hover {
  background-color: #4c96d7;
  color: #3a3a3a;
  transform: scale(1.2);
}

footer {
  border-top: solid black 3px;
  font-size: 0.8rem;
  text-align: center;
  margin: 10px;
}

footer p {
  margin: 0;
}

.home-container {
  margin: 0 10px;
}

.title {
  color: #000;
  font-weight: bold;
  display: block;
  width: 100%;
}

.imgCar {
  width: 100%;
}
.container-text {
  color: #4c96d7;
  position: relative;
}

.home-text {
  position: absolute;
  top: 0px;
}
.container-text p,
.reviews ul li {
  margin: -3px;
  font-size: 0.8rem;
}

.container-text p:first-child {
  font-weight: bold;
}

.own {
  height: 50px;
  width: 150px;
  border-color: #4c96d7;
  border-radius: 5px;
  display: block;
  margin: 10px auto;
}

.reviews {
  margin: 0 10px;
}

.upgrades {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.card {
  background-color: #4c96d7;
  width: 160px;
  height: 100px;
  position: relative;
  margin: 20px 10px;
  padding: 5px 20px;
}
.card img {
  display: block;
  margin: 10px auto;
}
.card p {
  position: absolute;
  bottom: -40px;
  text-decoration: underline;
  color: rgb(199, 47, 186);
}

small {
  font-size: small;
  color: red;
  font-weight: bold;
}

.logged {
  color: red;
}

.material-icons {
  color: blue;
}

#inventoryDisplay {
  width: 100%;
  font-size: 0.9em;
  font-weight: 700;
}


@media screen and (min-width: 680px) {
  body {
    max-width: 960px;
    margin: auto;
  }
  .own {
    height: 50px;
    width: 150px;
    border-color: #4c96d7;
    border-radius: 5px;
    /* display: block; */
    margin: 10px;
    position: absolute;
    top: 280px;
  }

  .home-container {
    margin: 10px 10px;
  }

  .title {
    margin: 15px;
  }

  .upgrades {
    width: 50%;
  }

  .reviews {
    width: 50%;
  }

  .delorean {
    display: flex;
    flex-direction: row-reverse;
    width: 100%;
  }
}
